* {
    margin: 0;
    padding: 0;
}
body {
    font: 15px 	arial,helvetica,sans-serif;
    color: #555;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}
h2, th{
    font-size: 18px;
    font-weight: bold;
}
h3 {
    font-size: 16px;
    font-weight: bold;
}
h4 {
    font-size: 14px;
    font-weight: bold;
}
strong {
    color: #0d4847;
}
img {
    border: none;
}
a {
    color: #009933;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    padding-left: 20px;
}
li {
    padding-top: 2px;
    padding-bottom: 2px;
}
.clearfix {
    clear: both;
}

#content{background:white;}

#header-content, #content, #footer-content {
    width: 940px;
    margin: auto;
}
#header {
    background-color: #262c31;
    border-bottom: 7px solid #1f7e71;
}
#header-content {
    background: #262c31 url("../images/header.png") no-repeat top center;
    padding-top: 160px;
}
  
#nav {
    background-color: #0d4847;
    border: 1px solid #27614e;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
#nav li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
}
#nav li:first-child {
    margin-left: 20px;
}
#nav li a {
    font-size: 14px;
    color: #eee;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;  
}
#nav li a:hover {
    text-decoration: underline;
}
#nav li.active {
    background-color: #1f7e71;
    border-radius: 5px 5px 0 0;
    margin-top: -1px;
}
#nav li.active a {
    color: #ede96a;
    font-weight: bold;
}



#sidebar {
    border: 1px solid #d6e0e2;
    float: right;
    width: 300px;
    padding: 1px;
    margin-top: 20px;
}
#sidebar h2 {
    padding: 10px;
    background-color: #0d4847;
    color: #ede96a;
}
#sidebar h3 {
    padding-bottom: 10px;
}
#sidebar .block {
    padding: 20px 10px 0 10px;
    background-color: #eef5f6;
}
#sidebar .block ul {
    padding: 0 0 20px 20px;
    border-bottom: 1px solid #d6e0e2;
}
#sidebar .block:last-child ul {
    border-bottom: none;
}



#main-content {
    margin-right: 320px;
    padding-top: 20px;
}
#main-content h1, h2,
#content_temario h2, h1 {
    color: #0d4847;
    padding-bottom: 5px;
	border-bottom:3px solid #0d4847;    
}
#main-content h3 {
    color: #0d4847;
    padding: 8px 0 6px 0;
}
#main-content  .block-content {
    padding: 10px 10px 20px 10px;
    background: transparent url("../images/bg-block.png") no-repeat top center;
}
#main-content .block ul ul {
    padding-top: 0;
}
#main-content ul.companies {
    float: left;
    width: 30%;
}
    



#footer {
    border-top: 7px solid #1f7e71;
    margin-top: 40px;
    padding: 40px 0 20px 0;
    background-color: #262c31;
    color: #eee;
}
#footer h2,
#footer strong {
    color: #EDE96A;
}
#footer h2 {
    margin-bottom: 10px;
}
#footer .block {
    margin-right: 475px;
}
#footer .right {
    float: right;
}
#footer .triptych img {
    width: 220px;
    padding: 2px;
    background: #eee;
    border: 1px solid #888;
}
#footer .social img {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
#footer .copyright {
    margin-top: 40px;
    border-top: 1px solid #1f7e71;
    padding-top: 20px;
}
#footer .copyright .right {
    line-height: 30px;
}










#body_temario ul
{
color:white;
}

#body_temario
{
background-color:rgb(2,66,62);
padding:50px;
width:100%;
}


#content_temario
{
width: 940px;
margin: auto;
padding-top: 20px;
color: #0d4847;
}

.content_temario
{
background-color:rgb(238,245,240);
padding:9px;
color: #0d4847;
}

#table_temario
{
width:80%;
border-collapse: collapse;
border-bottom:1px solid #0d4847;
padding:5px;
margin:auto;
}

p
{
padding:9px;
}

#table_temario tr.alt 
{
background-color:#0d4847;
}

tr.alt td
{
color:rgb(238,245,240);
}

.center
{
text-align:center;
}

.izquierda
{
float:left;
padding:20px;
width:48%;
}



.border
{
border-top: 1px solid #0d4847;
}

.derecha
{
float:right;
padding:20px;
width:32%;
}

.redondeado
{
background-color:rgb(238,245,240);
padding:10px;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
}

.bloque
{
background-color:rgb(238,245,240);
padding:10px;
}



